<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Vết thương hở mới phát sinh - <span>INJURI</span></div>

	<div class="cbp-l-inline-desc">Do té ngã, dao cứa, tróc da, u đầu, gai đâm: thì dùng bông thấm dầu đắp lên chỗ bị thương để cầm máu, giảm đau. Cứ 2 tiếng xoa 1 lần. Lưu ý chỉ được xoa dầu 1 lớp mỏng lên vết thương. Không để vết thương bị ướt nước sẽ mau lành.</div>
</div>
