<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Bị ho, viêm họng, ngứa trong cổ</div>
	
	<div class="cbp-l-inline-desc">Rửa tay sạch, xoa dầu vào đầu ngón tay, cho ngón tay vào trong cổ chạm nhẹ vào vùng ho, ngứa ngày 4 lần (trước cácbữa ăn 1 giờ và trước khi đi ngủ).</div>
</div>
