<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Cứng ngón tay - <span>LOCK FINGER</span></div>

	<div class="cbp-l-inline-desc">Xoa dầu vào cổ tay, ngón tay, bàn tay vàkéo nhẹ ngón tay. Khép cả 4 ngón tay lại, từ từ dãn thẳng từng ngón tay ra, tuyệt đối không cố gỡ ngón tay bị cứng đơ, sẽ gây đau nhức. Trường hợp ngón tay cái bị co cứng, thì xoa dầu vào đốt ngón cái, nắm 4 ngón còn lại, ngón cái vẫn dãn thẳng, xòe các ngón còn lại theo thứ tự từng ngón một, rồi kéo nhẹ ngón cái 4 lần. Triệu chứng co cứng sẽ khỏi trở lại bình thường mà không cần phải tiêm hay mổ.</div>
</div>
