<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Đau nhức răng - <span>TOOTHACHE</span></div>

	<div class="cbp-l-inline-desc">Bôi dầu vào vùng lợi, chân răng bị đau thường xuyên, nếu nhức răng thì dùng bông thấm dầu nhét vào chỗ răng bị đau, thì sẽ giảm đau nhức.</div>
</div>
