<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Chữa chóng mặt, nhức đầu, lờ đờ, căng thẳng, run rẩy - <span>HEADACHE</span></div>

	<div class="cbp-l-inline-desc">Bôi dầu vào mũi, thái dương, cuống họng và bóp nhẹ dầu vào vùng gáy, vùng cổ.</div>
</div>
