<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Nhức đầu gối - <span>KNEE PAIN</span></div>

	<div class="cbp-l-inline-desc">Xoa vào đầu gối, cổ chân, vùng eo lưng, cứ 1 ngày xoa bóp 4 lần .Trước khi ngủ, co gập chân vào mông, cho đầu gối thẳng đứng, co 5-6 lần.</div>
</div>
