<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Côn trùng cắn - <span>INSECT BITE</span></div>

	<div class="cbp-l-inline-desc">Như muỗi, rết, ong, bò cạp, cá tra, …:xoa dầu lên vùng bị đốt, cắn. Có thể dùng xoa để <b>phòng muỗi dốt.</b></div>
</div>
