<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Người sau giải phẩu hay bó bột - <span>PEOPLE AFTER SUGERY OR CAST</span></div>

	<div class="cbp-l-inline-desc">Khi tháo bột ra có thể bị sưng gân hay nhức trong xương thì dùng dầu xoa lên vùng bị sưng nhức, ngày 4 lần.</div>
</div>
