<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Trị bỏng nước sôi hay lửa - <span>BOILING WATER BURNS, FIRE BURNS</span></div>

	<div class="cbp-l-inline-desc">Dùng bông thấm dầu xoa lên chỗ bị bỏng cứ 4 tiếng một lần. Lưu ý chỉ đượcxoa dầu 1 lớp mỏng lên vùng bỏng. Nếu đã bị phồng lên thì dùng kim chích cho nước bỏng ra rồi mới xoa dầu vào. Khi vết bỏng khỏi, sẽ có vẩy, ngứa thì tuyệt đối không được bóc vẩy ra, phải để cho vẩy khô và bong ra tự nhiên thì da sẽ lành lặn như cũ.</div>
</div>
