<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Bị chuột rút - <span>CRAMP</span></div>

	<div class="cbp-l-inline-desc">Boa vào bắp thịt chỗ bị chuột rút, xoa nhẹ nhiều lần. Có thể xoa trước khi ngủ, đề phòng bị chuột rút.</div>
</div>
