<div class="cbp-l-inline">
	<div class="cbp-l-inline-title">Nhức mỏi vùng cổ, vai - <span>NECK PAIN</span></div>

	<div class="cbp-l-inline-desc">Xoa dầu vào cổ, vai nách, xoa nhè nhẹ, bóp vào vai và gân, cứ 2 tiếng xoa 1 lần.</div>
</div>
