
@for $i from 0 through 20 {
  .padding#{$i*5}{ padding: #{$i*5}px !important}
  .pt#{$i*5}{ padding-top: #{$i*5}px !important}
  .pr#{$i*5}{ padding-right: #{$i*5}px !important}
  .pb#{$i*5}{ padding-bottom: #{$i*5}px !important}
  .pl#{$i*5}{ padding-left: #{$i*5}px !important}
  .plr#{$i*5}{ padding-left: #{$i*5}px !important; padding-right: #{$i*5}px !important}
  .ptb#{$i*5}{ padding-top: #{$i*5}px !important; padding-bottom: #{$i*5}px !important}
  .margin#{$i*5}{ margin: #{$i*5}px !important}
  .mt#{$i*5}{ margin-top: #{$i*5}px !important}
  .mr#{$i*5}{ margin-right: #{$i*5}px !important}
  .mb#{$i*5}{ margin-bottom: #{$i*5}px !important}
  .ml#{$i*5}{ margin-left: #{$i*5}px !important}
}
@for $i from 1 through 15 {
  .min-height-#{$i*20}{ min-height: #{$i*20}px !important}
  .min-width-#{$i*20}{ min-width: #{$i*20}px !important}
}
@for $i from 10 through 40 {
  .font-size-#{$i+2}{ font-size: #{$i+2}px !important}
}
.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 100%;
  position: relative;
}
@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}
body.valuePage {
  box-shadow: none;
  height: auto;
  margin-bottom: 0;
}
