.indexPage {
  .swiper-wrapper {
    height: 500px;
  }
  .banner-content {
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .indexPage {
    .swiper-wrapper {
      height: 300px;
    }
    .banner-content {
      height: 300px;

      .btn {
        margin: 20px auto!important;
        height: 46px!important;
        line-height: 46px!important;
      }
    }
    .banner .swiper-pagination {
      bottom: 20px!important;

      span {
        font-size: 28px!important;
      }
    }
  }
}
