/*Font for intro section*/
@font-face {
  font-family:title-font;
  src:url('../font/vnf-buttermilk-script.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: CooperHewitt-Bold;
  src:url('../font/cooper-hewitt/CooperHewitt-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:sub-title-font;
  src:url('../font/vnf-lanvanderia-regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/* Add here all your css styles (customizations) */
.booking-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9999;
  text-align: center;
}
.booking-form form {
  background-color: rgba(249, 210, 79, .9);
  padding: 10px 0;
}
.intro-section {
  height: 220px;
  background: linear-gradient(141deg, #FBC02D -40%, rgba(255, 213, 81, 0.76) 40%, #FBC02D 90%);
}
.not-top {
  position: relative;
  margin: 0;
}
.ads-section .ads-container {
  height: 250px;
}
.testimonials-v3 {
  padding: 0;
}
.ads-slider {
  padding: 0;
  list-style-type: none;
}
.ads-slider .owl-item {
  height: 350px;
}
.ads-slider li, .ads-slider li img {
  width: 100%;
  height: 100%;
  padding: 0 4px;
}
.not-fixed {
  position: relative;
  margin-bottom: 50px;
}
.navbar .menu-container .dat-hang {
  display: none;
}
.cbp-caption-activeWrap span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.about-section {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar>.container .navbar-brand {
	margin-left:0;
}
.navbar>.container .navbar-brand img {
	height: 100%;
  display: inline-block;
  margin-right: 15px;
}
.navbar>.container .navbar-brand .second-line {
  display: inline-block;
}

.ads-section {
	padding-top: 35px;
}

/* ==============
    Intro Section
   ============== */


.intro-section .container {
  height: 100%;
  position: relative;
}
.intro-section .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.intro-section .site-name {
  text-align: center;
  height: 100%;
  padding: 25px 0;
}
.intro-section .site-name p {
  color: #a10f2b;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
  margin: 0;
}
.intro-section .site-name .second-line {
  font-family: "title-font";
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 4px;
}
.intro-section .site-name .third-line {
  font-family: "sub-title-font";
  margin-top: 28px;
  font-size: 42px;
  font-weight: bold;
  color: #35770e;
}
.intro-section .site-info {
  position: absolute;
  height: 100%;
  top:0;
  right: 0;
  text-align: right;
  display: table;
}
.intro-section .site-info div {
  display: table-cell;
  vertical-align: middle
}
.intro-section .site-info p {
  margin: 0;
}
.intro-section .first-line {
  font-size: 14px;
  font-weight: 600;
}
/* ==============
    End Intro Section
   ============== */
.clients-section .item {
    height: 120px;
    cursor: pointer;
}
.clients-section .item-1 {
  background: #fff url("../img/giai-thuong/thumb-1.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-2 {
  background: #fff url("../img/giai-thuong/thumb-2.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-3 {
  background: #fff url("../img/giai-thuong/thumb-3.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-4 {
  background: #fff url("../img/giai-thuong/thumb-4.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-5 {
  background: #fff url("../img/giai-thuong/thumb-5.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-6 {
  background: #fff url("../img/giai-thuong/thumb-6.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-7 {
  background: #fff url("../img/giai-thuong/thumb-7.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-8 {
  background: #fff url("../img/giai-thuong/thumb-8.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-9 {
  background: #fff url("../img/giai-thuong/thumb-9.jpg") no-repeat top center;
  background-size: cover;
}
.clients-section .item-10 {
  background: #fff url("../img/giai-thuong/thumb-10.jpg") no-repeat top center;
  background-size: cover;
}



/* ==============
    MOBILE: Main
   ============== */
@media only screen and (max-width: 1280px) {
	.intro-section {
	  height: 165px;
    }
	.intro-section .site-info{
      font-size: 10px;
	}
	.intro-section .site-info .first-line {
      font-size: 10px;
	}
	.intro-section .logo {
	  height: 130px;
	}
    .intro-section .site-name {
	  float: none;
	  padding: 23px 0;
    }
    .intro-section .site-name p {
      font-size: 17px;
      font-weight: 300;
      line-height: 20px;
    }
    .intro-section .site-name .second-line {
      font-size: 55px;
      font-weight: 600;
      line-height: 55px;
      letter-spacing: 4px;
    }
    .intro-section .site-name .third-line {
      margin-top: 20px;
      font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
  .booking-form {
    position: relative;
    max-width: 100vw;
    z-index: 0;
  }
  .booking-form form{
	padding: 15px;
  }
  .booking-form span {
	  display: block;
	  margin-bottom: 11px;
  }
  .copyright-section {
    padding-bottom: 20px;
  }
  .booking-form .checkbox label {
    padding: 0;
    width: 100%;
  }
  .navbar .menu-container .dat-hang {
    display: block;
  }
  .intro-section .site-info {
    display: none;
  }
  .intro-section .logo {
    display: none;
  }
}
@media (max-width: 480px) {
  .intro-section {
	height: 170px;
  }
  .intro-section .site-name {
	float: none;
	padding: 23px 0;
  }
  .intro-section .site-name p {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
  }
  .intro-section .site-name .second-line {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 4px;
  }
  .intro-section .site-name .third-line {
    margin-top: 22px;
    font-size: 22px;
  }
  .one-page-header .navbar-brand .second-line {
    font-size: 19px;
    line-height: 50px;
  }
}
@media (max-width: 320px) {
	.intro-section .site-name .second-line {
		font-size: 45px;
		font-weight: 600;
		line-height: 45px;
		letter-spacing: 4px;
	}
	.intro-section .site-name .third-line {
		margin-top: 18px;
		font-size: 16px;
	}
	.intro-section {
		height: 150px;
	}
}


/* ==============
    Custom cube portfolio popup-content
   ============== */
.cbp-popup-singlePageInline .cbp-popup-content {
	min-height: 200px;
}
#giai-thuong-cube .cbp-item-1 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-1.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-2 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-2.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-3 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-3.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-4 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-4.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-5 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-5.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-6 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-6.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-7 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-7.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-8 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-8.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-9 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-9.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item-10 .cbp-caption-defaultWrap{
	background: url("../img/giai-thuong/thumb-10.jpg") no-repeat top center;
}
#giai-thuong-cube .cbp-item .cbp-caption-defaultWrap{
	height: 200px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ship-logo {
  position: absolute;
  top: 15px;
  right: 15px;
}
.ship-logo img {
  width: 105px;
}
.cbp-l-inline-title {
  color: #a10f2b;
}
.cbp-l-inline-title span {
  color: #35770e;
  font-size: 70%;
}
.use-wrapper {
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 15px;
  background-color: #78bd4e;
  color: #fff;
}
.use-wrapper p,
.use-wrapper span {
  color: #fff;
}
.cbp-l-inline-desc {
  font-size: 17px;
}
p.slogan {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(255, 223, 114);
}
